**/.classpath
**/.gradle
**/.idea
**/.project
**/.settings
**/.vscode/**/*
!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/tasks.json
**/*.bak
**/*.gz
**/*.iml
**/*.log
**/*.swp
**/*.tmp
**/*~
**/application-*.properties
**/bin/
**/build/
.vscode/settings.json
